<div style="width: 900px;">
    <h1 style="margin-bottom: 20px; text-align: center;">List Materieles</h1>
    <div >
        <h4></h4>
        <h4></h4>
    </div>
    <table class="table">
        <thead>
          <tr style="text-align: center;">
            <th scope="col">#</th>
            <th scope="col">Libelle</th>
            <th scope="col">Salle</th>
            <th scope="col">Action</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materiel of matServ.list" style="width: 100%; text-align: center;">
            <th scope="row">{{materiel.id}}</th>
            <td>{{materiel.libelle}}</td>
            <td>{{this.getSalleName(materiel.salle)}}</td>
            <td>
            <button (click)="onUpdateClicked(materiel.id!)" class="btn p-2 bg-warning text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal1"><i class="fa-solid fa-pen-to-square"></i></button>
            <button (click)="onDeleteMateriel(materiel.id!)" class="btn p-2 bg-danger text-dark"><i class="fa-solid fa-trash"></i></button>
          </td>
          </tr>
          
        </tbody>
      </table>
      
    
    <!-- Button trigger modal -->
    <button (click)="onCreateClicked()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Ajouter Materiel
    </button>
    
    <!--Add Modal -->
    <form #materielForm="ngForm" (ngSubmit)="onCreateMateriel(materielForm.value)" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ajouter Materiel</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleInput" class="form-label">Nom de Materiel</label>
              <input type="text" class="form-control" required="true" name="libelle" ngModel id="exampleInput">
            </div>
            <select name="salle" ngModel required="true" class="form-select" aria-label="Default select example">
                <option selected="select">Selectionner la Salle</option>
                <option *ngFor="let salle of this.salles" value="/api/salles/{{salle.id}}">{{salle.libelle}}</option>
              </select>
          </div>
          <div class="modal-footer">
            <button id="close-model-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
            <button [disabled]="materielForm.invalid" type="submit" id="save-btn" class="btn btn-primary">Enregistrer</button>
          </div>
        </div>
      </div>
    </form>
    
    <!--Update Modal -->
    <form #updateForm="ngForm" (ngSubmit)="onUpdateMateriel()" class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modifier Materiel</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleInput" class="form-label">Nom de Materiel</label>
              <input type="text" class="form-control" required="true" name="libelle" ngModel id="exampleInput">
            </div>
            <select name="salle" ngModel required="true" class="form-select" aria-label="Default select example">
                <option selected="select">Selectionner la Salle</option>
                <option *ngFor="let salle of this.salles" value="/api/salles/{{salle.id}}">{{salle.libelle}}</option>
              </select>
          </div>
          <div class="modal-footer">
            <button id="close-model-btn1" type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
            <button [disabled]="updateForm.invalid" type="submit" id="save-btn" class="btn btn-primary">Enregistrer</button>
          </div>
        </div>
      </div>
    </form>
    </div>
    