<header >
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/home/reservation" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <h3 style="margin: 0;">GESTREUNION</h3>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a *ngIf="this.isAdmin" routerLink="/admin" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}" class="nav-link text-secondary">
                <i class="fa-solid fa-lock"></i>
                <span>
                  Admin
                </span> 
              </a>
            </li>
            <li>
              <a routerLink="/home" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: false}" class="nav-link text-secondary">
                <i class="fa-solid fa-gauge"></i>
                <span>
                  Dashboard
                </span> 
              </a>
            </li>
            <li>
              <div class="dropdown" style="display:flex; flex-direction: center; justify-content: center; align-items: center; height: 100%">
                
                <a (click)="notifDisplayed()" href="#" style="display: flex; flex-direction: column;" class="nav-link d-flex align-items-center text-secondary text-decoration-none "
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i style="margin-left: 10px;" class="fa-solid fa-bell"><span *ngIf="this.notifCounter > 0" style="padding:4px 6px ;font-size: 11px ;left: 86px; top: 9px;" class="position-absolute translate-middle badge rounded-pill bg-danger">
                      {{this.notifCounter}}+
                      <span class="visually-hidden">unread messages</span>
                    </span></i>
                    <div  id="logout-link">
                      <strong  style="margin-right: 5px;">Notification</strong><i class="fa-sharp fa-solid fa-caret-down"></i>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                  <li *ngIf="this.notifications?.length == 0"><p class="dropdown-item" style="margin: 0;padding: 20px 10px; font-size: 17px">vous n'avez pas aucun notification!</p></li>
                  <li *ngFor="let notif of this.notifications?.reverse()">
                    <a routerLink="/home/reservation" class="dropdown-item notifItem">
                      <i class="fa-solid fa-circle-user"></i>
                      <div>
                        <div class="h3">{{notif.responsableEmail}}</div>
                        <p>{{notif.message}}</p>
                        <div class="notifDateInfo">Date : {{notif.reunionDate}}</div>
                      </div>
                       
                    </a>
                  </li>
                </ul>
            </div>
            </li>
            <li>
              <div class="dropdown" style="display:flex; flex-direction: center; justify-content: center; align-items: center; height: 100%">
                
                <a  href="#" style="display: flex; flex-direction: column;" class="nav-link d-flex align-items-center text-secondary text-decoration-none "
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user-tie"></i>
                    <div  id="logout-link">
                      <strong  style="margin-right: 5px;">{{this.user.email! || "user@user.com"}}</strong><i class="fa-sharp fa-solid fa-caret-down"></i>
                    </div>
                    
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile </a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="this.authServ.Logout()">Sign out</a></li>
                </ul>
            </div>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </header>
  
  <main>
    <div >
      <ul class="nav nav-tabs" style="width: 900px;">
        <li class="nav-item">
          <a class="nav-link" routerLink="./reservation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-current="page" href="#">Reunions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./reclamation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Reclamations</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div> 
    <div class="calendar">
      <div class="month bg-dark">
        <ul>
          <li ><button class="prev">&#10094;</button></li>
          <li ><button class="next"> &#10095;</button></li>
          <li>{{months[this.dateNow.getMonth()+1]}}<br><span style="font-size:20px">{{this.dateNow.getFullYear()}}</span></li>
        </ul>
      </div>
      <ul class="weekdays">
        <li>Lun</li>
        <li>Mar</li>
        <li>Mer</li>
        <li>Jeu</li>
        <li>Ven</li>
        <li>Sam</li>
        <li>Dim</li>
      </ul>
      <ul class="days">
        <li id="01">1</li>
        <li id="02">2</li>
        <li id="03">3</li>
        <li id="04">4</li>
        <li id="05">5</li>
        <li id="06">6</li>
        <li id="07">7</li>
        <li id="08">8</li>
        <li id="09">9</li>
        <li id="10">10</li>
        <li id="11">11</li>
        <li id="12">12</li>
        <li id="13">13</li>
        <li id="14">14</li>
        <li id="15">15</li>
        <li id="16">16</li>
        <li id="17">17</li>
        <li id="18">18</li>
        <li id="19">19</li>
        <li id="20">20</li>
        <li id="21">21</li>
        <li id="22">22</li>
        <li id="23">23</li>
        <li id="24">24</li>
        <li id="25"> 25</li>
        <li id="26">26</li>
        <li id="27">27</li>
        <li id="28">28</li>
        <li id="29">29</li>
        <li id="30">30</li>
        <li id="31">31</li>
      </ul>
    </div>
  </main>
  
  
  