<div style="width: 900px;">
<h1 style="margin-bottom: 20px; text-align: center;">List Departments</h1>
<div >
    <h4></h4>
    <h4></h4>
</div>
<table class="table">
    <thead>
      <tr style="text-align: center;">
        <th scope="col">#</th>
        <th scope="col">Libelle</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of deptServ.list" style="width: 100%; text-align: center;">
        <th scope="row">{{department.id}}</th>
        <td>{{department.libelle}}</td>
        <td>
        <button (click)="onUpdateClicked(department.id!)" class="btn p-2 bg-warning text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal1"><i class="fa-solid fa-pen-to-square"></i></button>
        <button (click)="onDeleteDepartment(department.id!)" class="btn p-2 bg-danger text-dark"><i class="fa-solid fa-trash"></i></button>
      </td>
      </tr>
      
    </tbody>
  </table>
  

<!-- Button trigger modal -->
<button (click)="onCreateClicked()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ajouter Department
</button>

<!--Add Modal -->
<form #departmentForm="ngForm" (ngSubmit)="onCreateDepartment(departmentForm.value)" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter Department</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleInput" class="form-label">Nom de Department</label>
          <input type="text" class="form-control" required="true" name="libelle" ngModel id="exampleInput">
        </div>
      </div>
      <div class="modal-footer">
        <button id="close-model-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
        <button [disabled]="departmentForm.invalid" type="submit" id="save-btn" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</form>

<!--Update Modal -->
<form #updateForm="ngForm" (ngSubmit)="onUpdateDepartment()" class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier Department</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleInput" class="form-label">Nom de Department</label>
          <input type="text" class="form-control" required="true" name="libelle" ngModel id="exampleInput">
        </div>
      </div>
      <div class="modal-footer">
        <button id="close-model-btn1" type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
        <button [disabled]="updateForm.invalid" type="submit" id="save-btn" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</form>
</div>
